body {
	padding: 30px 30px 30px 30px;

}

.header {

}

.lista {
	list-style-type:none;
}

.content {

}

.row {
	display: flex;
}

.first-row {
	
}

.second-row {
	
}

.article {
	flex: 1;
	padding: 30px 30px 30px 30px;
}

.article img {
	width: 100%;
}